/* main.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
}

.container {
    display: flex;
    height: 100%;
    max-width: 1200px;
    margin: auto;
}


.sidebar {
    flex: 0 0 300px; /* Adjust the width of the sidebar */
    background-color: #f5f5f5;
    padding: 20px;
    overflow-y: auto;
}

.output {
    flex-grow: 1;
    background-color: #fff;
    padding: 20px;
    border-left: 1px solid #ddd;
}

.tabs {
    margin-bottom: 20px;
}

.tab-link {
    display: block;
    padding: 12px;
    background-color: #d6d6d6;
    color: #1b1b1b;
    font-size:15px;

    text-align: left;
    border: none;
    border-bottom: 1px solid #d4d4d4;
    width: 100%;
    text-decoration: none;
    margin-bottom: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-link:hover, .tab-link.active {
    background-color: #fcfcfc;
}

.tab-content {
    display: none;
    margin-bottom: 10px;
}

.tab-content.active {
    display: block;
}


input[type="number"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 20px;
    color: #444;
    font-size: 24px;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3e423e;
    color: white;
    font-weight: normal;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

table input[type="number"], table select {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.scrollable-table {
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}



/* 模態框（背景） */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* 模態框內容 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* 關閉按鈕 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 下拉式選單的基本樣式 */
select {
    width: 200px; /* 選單寬度 */
    padding: 10px; /* 內部間距 */
    margin: 10px; /* 外部間距 */
    border: 1px solid #ccc; /* 邊框樣式 */
    border-radius: 5px; /* 邊框圓角 */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* 盒子陰影 */
    background-color: white; /* 背景顏色 */
    font-size: 16px; /* 文字大小 */
    color: #333; /* 文字顏色 */
    -webkit-appearance: none; /* 移除預設外觀 */
    -moz-appearance: none;
    appearance: none;
}

/* 針對 Webkit 瀏覽器的下拉箭頭樣式 */
select::-webkit-select-arrow {
    color: #333; /* 箭頭顏色 */
}

/* 針對 Mozilla Firefox 的下拉箭頭樣式 */
select::-moz-select-arrow {
    color: #333; /* 箭頭顏色 */
}

/* 當選單獲得焦點時的樣式 */
select:focus {
    outline: none; /* 移除焦點時的輪廓 */
    border-color: #007bff; /* 改變邊框顏色 */
}

/* 選項的基本樣式 */
option {
    padding: 10px; /* 選項內部間距 */
    background-color: white; /* 選項背景顏色 */
    color: #333; /* 選項文字顏色 */
}